<div class='container'>
	<a href='#' id='addactivityformbtn'><span class="glyphicon glyphicon-plus submitBtn"></span></a>
	<label for="addactivityformbtn" id='addactivityformlabel'>Add New Target</label>
</div>
	


<div class='container addactivityform well' id='addactivityform'>
	<form id="addActivity" role="form" method="get" action="/add">
		<h3>Add New Target</h3>
	 	<div class="form-group">
		   <label for="name">What activity do you want to do?</label>
		   <input type="text" class="form-control" id="name" placeholder="ex: Sleep" name="Activity Name">
	 	 </div>
	 	 <div class="form-group">
		 		<label for="target">How long do you want to spend doing this, per day? (hrs)</label>
				<input type="text" class="form-control" id="target" placeholder="ex: 56" name="description">
		</div>
		<input type="submit" id="submitAddActivity" class="btn btn-primary" value="Add Activity"></input>
	</form>
</div>