{{> header}}
<div class="container">

	<h3> Add {{activity}} as new activity? </h3>

	<form id="record_activity_form" class = "form-horizontal" role="form" action="/addactivity"  method="get">
		<a href ='/recordactivity'><button class = "btn btn-default"> Go back </button></a>
		<!-- HOW DO -->
		<a href ='/addactivity'><button class = "btn btn-default"> Add Activity </button></a>

	</form>


</body>
</html>