{{> header}}



<div class="container">
	
	<h1>View And Edit Your Goals!</h1>
	
	
	<h2>Current Goals:</h2>
	<div class="goalList">
		{{#each activities}}
			<div class="goal">
				<h4>{{activity}}: {{goal}} hrs/week</h4> 
				<button type="button" class="editGoalButton"><a href="/editindividual">Edit Goal</a></button> </div>'
		{{/each}}
	</div>
	
	{{> addactivityform}}

	{{> homebtn}}

</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/goals-page.js"></script>


</div>

</body>
</html>