{{> header}}



<div class="container">
	<div class="jumbotron">
		<h1>View And Edit Your Goals!</h1>
	</div>
	
	<h2>Current Goals:</h2>
	<div class="goalList">
		
	</div>
	
	{{> addactivityform}}

	{{> homebtn}}

</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/goals-page.js"></script>


</div>

</body>
</html>