{{> header}}



<div class="container">
	
	<h2>Current Targets:</h2>

	<div class="goalList">
		
		<!--{{#each activities}}
			<div class="goal">
				<div class"well well-sm">
				<div class="well-text">{{activity}}: {{goal}} hrs/week</div> </div>
				<button type="button" class="editGoalButton"><a href="/editindividual">Edit Goal</a></button> </div>
		{{/each}}
	
	 -->
	
	{{#each activities}}
	<div class="well well-sm">
		<div class = "well-text">{{activity}}: 
		{{goal}} hrs/week
		<button type="button" class="editGoalButton">Edit Goal</button>
		<div class="goal"></div>
	</div>
		
	</div>
	<!--<button type="button" class="editGoalButton"><a href="/editindividual">Edit Goal</a></button> -->
	
	{{/each}}
	</div>
	
	<div class='container' id='message'>
		
	</div>
	{{> addactivityform}}

	{{> homebtn}}
	
	<br>
	<br>
	<br>
	<br>

</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/goals-page.js"></script>


</div>

</body>
</html>