{{> header}}
<div class="container">

<h1>Record Activity</h1>
	
	<div id='message' class="container">
	<!-- This is where any messages from the controller will go --> 
	</div>

	<form id="record_activity_form" class = "form-horizontal" role="form">
		<div class="form-group">

	      <label for="activities" class="col-sm-2 control-label"> Activity: </label>
	      <select id="activity" name = "activity">
	      	{{#each activities}}
	        	<option value="{{activity}}">{{activity}}</option>
	        {{/each}}
	      </select>
	      </div>

		<div class="form-group">
	      <label for="hours"  class="col-sm-2 control-label"> Hours: </label>
	      <input type="text" id="hours" name = "hours"/>
	    </div>

	    <div class="form-group">
	    	<input type="submit" id="submitBtn" class="btn btn-default" value="Record Activity"></input>
	    </div>

	</form>
	
	{{> homebtn}}
</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/recordactivity.js"></script>

</body>
</html>