{{> header}}
<div class="container">

<h1>View Stats</h1>

	<div id="chart_div" style="width: 100%; height: 100%;"></div>
		
	{{> homebtn}}
</div>


	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Activity', 'Target', 'Actual'],
          {{#each activities}}
			  ['{{activity}}', {{goal}}, {{hours}}],
			  
		  {{/each}}
        ]);

        var options = {
          title: 'Time Statistics',
          hAxis: {title: 'Activity', titleTextStyle: {color: 'red'}},
		  vAxis: {title: 'Hours per Week', titleTextStyle: {color: 'red'}},
		  legend: {position: "bottom"},
		  animation: {
			  duration: 100,
			  easing: "in",
			
		  },
		  dataOpacity: 0.8,
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
</body>
</html>